Repository tracel-ai/burn, pull requests merged in 2025-08, with the labels that each got.

#3382 ci: split tests on GitHub runners and on GPU runners
  .github/workflows/test-gpu.yml
  .github/workflows/test.yml
Labels: ci:test-gpu

#3455 ci: bench on multiple machines
  benchmarks.toml
Labels: ci:benchmarks

#3457 ci: Add burn-bench config to benchmarks.toml
  benchmarks.toml
Labels: ci:benchmarks

#3466 ci: fix wgpu-info
  benchmarks.toml
Labels: ci:benchmarks

#3453 Add quantization params precision
  crates/burn-cubecl/src/kernel/matmul/base.rs
  crates/burn-cubecl/src/kernel/quantization/dequantize.rs
  crates/burn-cubecl/src/kernel/quantization/mod.rs
  crates/burn-cubecl/src/kernel/quantization/qtensor.rs
  crates/burn-cubecl/src/kernel/quantization/quantize.rs
  crates/burn-cubecl/src/ops/qtensor.rs
  crates/burn-cubecl/src/tests/quantization.rs
  crates/burn-tensor/src/tensor/quantization/scheme.rs
  crates/burn-tensor/src/tensor/quantization/strategy.rs
  crates/burn-tensor/src/tests/quantization/scheme.rs
Labels: ci:test-gpu

#3454 Feat/fusion quant
  Cargo.lock
  Cargo.toml
  crates/burn-cubecl-fusion/Cargo.toml
  crates/burn-cubecl-fusion/src/base.rs
  crates/burn-cubecl-fusion/src/matmul/optimization.rs
  crates/burn-cubecl-fusion/src/shared/base.rs
  crates/burn-cubecl-fusion/src/shared/builder.rs
  crates/burn-cubecl-fusion/src/shared/io.rs
  crates/burn-cubecl-fusion/src/shared/ir.rs
  crates/burn-cubecl-fusion/src/shared/kernel.rs
  crates/burn-cubecl-fusion/src/shared/tensor.rs
  crates/burn-cubecl-fusion/src/shared/trace/base.rs
  crates/burn-cubecl-fusion/src/shared/trace/block.rs
  crates/burn-cubecl-fusion/src/shared/trace/builder.rs
  crates/burn-cubecl-fusion/src/shared/trace/executor.rs
  crates/burn-cubecl-fusion/src/shared/trace/input.rs
  crates/burn-cubecl-fusion/src/shared/trace/output.rs
  crates/burn-cubecl-fusion/src/shared/trace/plan.rs
  crates/burn-cubecl-fusion/src/shared/trace/runner.rs
  crates/burn-cubecl-fusion/src/shared/trace/vectorization/base.rs
  crates/burn-cubecl-fusion/src/shared/trace/vectorization/planner.rs
  crates/burn-cubecl/src/tests/mod.rs
  crates/burn-cubecl/src/tests/quantization.rs
  crates/burn-tensor/src/lib.rs
  crates/burn-tensor/src/tensor/element/base.rs
  crates/burn-tensor/src/tests/quantization/ops/quantize.rs
Labels: ci:test-gpu

#3563 Support dynamic shape and tensor sizes in ONNX resize
  crates/burn-import/onnx-tests/build.rs
  crates/burn-import/onnx-tests/tests/resize/mod.rs
  crates/burn-import/onnx-tests/tests/resize/resize_with_shape.onnx
  crates/burn-import/onnx-tests/tests/resize/resize_with_shape.py
  crates/burn-import/onnx-tests/tests/resize/resize_with_sizes_tensor.onnx
  crates/burn-import/onnx-tests/tests/resize/resize_with_sizes_tensor.py
  crates/burn-import/src/burn/node/resize.rs
  crates/burn-import/src/onnx/to_burn.rs
  crates/onnx-ir/src/node/resize.rs
Labels: onnx

#3587 Perf/linear layout
  Cargo.lock
  Cargo.toml
  crates/burn-common/src/lib.rs
  crates/burn-core/src/module/param/base.rs
  crates/burn-core/src/module/param/tensor.rs
  crates/burn-core/src/nn/linear.rs
  crates/burn-core/src/nn/rnn/gate_controller.rs
  crates/burn-core/src/nn/swiglu.rs
  crates/burn-core/src/record/primitive.rs
  crates/burn-cubecl-fusion/src/elemwise/optimization.rs
  crates/burn-cubecl-fusion/src/matmul/builder.rs
  crates/burn-cubecl-fusion/src/matmul/optimization.rs
  crates/burn-cubecl-fusion/src/matmul/tune.rs
  crates/burn-cubecl-fusion/src/reduce/builder.rs
  crates/burn-cubecl-fusion/src/shared/builder.rs
  crates/burn-cubecl-fusion/src/shared/trace/input.rs
  crates/burn-cubecl-fusion/src/shared/trace/output.rs
  crates/burn-cubecl/src/kernel/matmul/tune/base.rs
  crates/burn-cubecl/src/ops/base.rs
  crates/burn-fusion/src/ops/boolean.rs
  crates/burn-fusion/src/ops/float.rs
  crates/burn-fusion/src/ops/int.rs
  crates/burn-fusion/src/ops/qtensor.rs
  crates/burn-fusion/src/stream/execution/processor.rs
  crates/burn-tensor/src/tensor/ops/modules/base.rs
  crates/burn-wgpu/Cargo.toml
Labels: ci:test-gpu

#3613 Feat/quant formats
  Cargo.lock
  Cargo.toml
  crates/burn-cubecl-fusion/src/shared/ir.rs
  crates/burn-cubecl-fusion/src/shared/kernel.rs
  crates/burn-cubecl-fusion/src/shared/trace/vectorization/planner.rs
  crates/burn-cubecl/src/ops/qtensor.rs
  crates/burn-cubecl/src/tensor/quantization.rs
  crates/burn-cubecl/src/tests/quantization.rs
  crates/burn-ndarray/src/ops/base.rs
  crates/burn-ndarray/src/ops/qtensor.rs
  crates/burn-ndarray/src/ops/simd/maxpool.rs
  crates/burn-ndarray/src/tensor.rs
  crates/burn-tch/src/ops/qtensor.rs
  crates/burn-tch/src/tensor.rs
  crates/burn-tensor/src/lib.rs
  crates/burn-tensor/src/tensor/data.rs
  crates/burn-tensor/src/tensor/element/base.rs
  crates/burn-tensor/src/tensor/quantization/bytes.rs
  crates/burn-tensor/src/tensor/quantization/scheme.rs
  crates/burn-tensor/src/tensor/quantization/strategy.rs
  crates/burn-tensor/src/tests/mod.rs
  crates/burn-tensor/src/tests/quantization/calibration.rs
  crates/burn-tensor/src/tests/quantization/ops/quantize.rs
  crates/burn-tensor/src/tests/quantization/scheme.rs
Labels: ci:test-gpu

#3626 chore: Update cubecl
  Cargo.lock
  Cargo.toml
  crates/burn-core/src/nn/activation/activation_layer.rs
  crates/burn-cubecl-fusion/src/base.rs
  crates/burn-cubecl-fusion/src/matmul/args.rs
  crates/burn-cubecl-fusion/src/matmul/optimization.rs
  crates/burn-cubecl-fusion/src/reduce/args.rs
  crates/burn-cubecl-fusion/src/reduce/optimization.rs
  crates/burn-cubecl-fusion/src/shared/builder.rs
  crates/burn-cubecl-fusion/src/shared/io.rs
  crates/burn-cubecl-fusion/src/shared/ir.rs
  crates/burn-cubecl-fusion/src/shared/kernel.rs
  crates/burn-cubecl-fusion/src/shared/tensor.rs
  crates/burn-cubecl-fusion/src/shared/trace/output.rs
  crates/burn-cubecl-fusion/src/shared/trace/vectorization/planner.rs
  crates/burn-cubecl/src/fusion.rs
  crates/burn-cubecl/src/kernel/binary.rs
  crates/burn-cubecl/src/kernel/binary_int.rs
  crates/burn-cubecl/src/kernel/cast/base.rs
  crates/burn-cubecl/src/kernel/conv/deform_conv_transpose2d.rs
  crates/burn-cubecl/src/kernel/conv/direct.rs
  crates/burn-cubecl/src/kernel/index/slice.rs
  crates/burn-cubecl/src/kernel/interpolate/bicubic.rs
  crates/burn-cubecl/src/kernel/interpolate/bilinear.rs
  crates/burn-cubecl/src/kernel/interpolate/nearest.rs
  crates/burn-cubecl/src/kernel/interpolate/nearest_backward.rs
  crates/burn-cubecl/src/kernel/reduce/base.rs
  crates/burn-cubecl/src/kernel/unary_float.rs
  crates/burn-cubecl/src/kernel/unary_int.rs
  crates/burn-cubecl/src/kernel/unary_numeric.rs
  crates/burn-cubecl/src/kernel/utils.rs
  crates/burn-cubecl/src/ops/qtensor.rs
  crates/burn-cubecl/src/tensor/base.rs
  crates/burn-dataset/Cargo.toml
  crates/burn-tensor/src/lib.rs
  crates/burn-tensor/src/tensor/element/base.rs
  examples/modern-lstm/Cargo.toml
Labels: ci:test-gpu
